@import url('https://fonts.googleapis.com/css2?family=Electrolize&display=swap');
@import url("https://cdn.jsdelivr.net/npm/bootstrap-icons@1.10.3/font/bootstrap-icons.css");

/* ! base css start */

* {
    margin: 0;
}

body {
    font-family: 'Electrolize', sans-serif;
}



/* ! base css end */


/* ! navbar start */

.navbar {
    background-color: #000;
    height: 3.75rem;
    color: white;
    position: sticky;
    top: 0;
}

.navbar-wrapper {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 0 3.125rem;
    height: 100%;
}

.menu-wrapper .menu-list {
    display: flex;
    align-items: center;
    column-gap: 1.875rem;
    list-style: none;
}

.menu-wrapper .menu-list-item {
    cursor: pointer;
    transition: 0.3s ease color;
}

.menu-wrapper .menu-list-item.active {
    color: rgb(255, 70, 70);
    font-weight: bold;
}

.menu-wrapper .menu-list-item:hover {
    color: rgb(255, 70, 70);
    font-weight: bold;
}

.logo {
    font-size: 1.875rem;
    color: rgb(255, 70, 70);
}

.navbar .profile-wrapper {
    display: flex;
    align-items: center;
    column-gap: 1.25rem;
}

.navbar .profile-wrapper .profile-picture {
    height: 2rem;
    width: 2rem;
    border-radius: 100%;
    object-fit: cover;
}

.navbar .profile-text-wrapper {
    display: flex;
    align-items: center;
    column-gap: .3125rem;
    line-height: 1;
}

.navbar .profile-wrapper .toggle {
    width: 2.5rem;
    height: 1.25rem;
    background-color: white;
    border-radius: 30%;
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
}

.navbar .profile-wrapper .toggle-icon {
    color: goldenrod;
}

.navbar .profile-wrapper .toggle-ball {
    height: 1.125rem;
    width: 1.125rem;
    background-color: #000;
    border-radius: 50%;
    cursor: pointer;
    position: absolute;
    right: .0625rem;
}

/* ! navbar end */


/* ! sidebar start */

.sidebar {
    display: flex;
    align-items: center;
    flex-direction: column;
    row-gap: 2.5rem;
    background-color: #000;
    color: white;
    height: 100%;
    width: 3.125rem;
    position: fixed;
}

.sidebar i {
    font-size: 1.25rem;
    cursor: pointer;
}

/* ! sidebar end */

/* ! featured start */

.content-wrapper {
    margin-left: 3.125rem;
}


.content-wrapper .featured-content {
    background: url(img/spiderman.jpg);
    background-size: 100% 100%;
    padding: 3.125rem;
    height: calc(100vh - 10rem);
}

.featured-content .featured-title {
    width: 25rem;
}

.featured-content .featured-desc {
    width: 31.25rem;
    background-color: rgb(255, 255, 255);
    opacity: 0.5;
    margin: 1.875rem 0;
    padding: .625rem;
}

.featured-content .featured-buttons {
    display: flex;
    column-gap: 1.25rem;
}

.featured-buttons button {
    padding: .625rem 1.5625rem;
    border-radius: .125rem;
    border: none;
    outline: none;
    cursor: pointer;
    display: flex;
    align-items: center;
    column-gap: .625rem;
    font-size: 1rem;
    font-weight: 600;
}

.featured-buttons .info-button {
    color: white;
    background-color: rgb(145, 142, 142, 0.5);
}


/* ! featured end */